= form_for(@task) do |f|
  - if @task.errors.any?
    .alert.alert-danger
      %h4
        = pluralize(@task.errors.count, "error")
        prohibited this note from being saved:

      %ul
        - @task.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.text_field :name, placeholder: 'Name', class: 'form-control'
  .form-group
    = f.text_area :description, placeholder: 'Description', class: 'form-control', rows: 4

  = f.submit class: 'btn btn-primary'
