- if notice.present?
  .alert.alert-info
    = notice

.row
  %h2
    Listing Tasks
    = link_to 'New Task', new_task_path, class: 'btn btn-primary'

%ul.list-group
  - @tasks.each do |task|
    %li.list-group-item
      .task_header
        %p.task_name.font150
          = link_to task.name, task
        .task_tools.btn-group.pull-right
          = link_to 'Edit', edit_task_path(task), class: 'btn btn-info'
          = link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'

      .task_description
        = task.description
